@import "tailwindcss";

@import "tw-animate-css";

@tailwind utilities;

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-jetbrainsMono: var(--font-jetbrainsMono);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-forground: var(--muted-forground);
  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-border: var(--border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-muted-foreground: var(--muted-foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --danger: oklch(0.58 0.2152 27.33);
  --danger-foreground: oklch(0.64 0.0814 57.89);
  --success: oklch(0.63 0.1699 149.21);
  --success-foreground: oklch(0.64 0.0814 57.89);
  --info: oklch(0.55 0.2152 262.88);
  --info-foreground: oklch(0.64 0.0814 57.89);
  --warning: oklch(0.86 0.1731 91.94);
  --warning-foreground: oklch(0.64 0.0814 57.89);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.25 0.0234 154.73);
    --foreground: oklch(0.88 0.0197 90.56);
    --card: oklch(0.41 0.0272 155.02);
    --card-foreground: oklch(0.25 0.0234 154.73);
    --popover: oklch(0.41 0.0272 155.02);
    --popover-foreground: oklch(0.25 0.0234 154.73);
    --primary: oklch(0.61 0.0656 59.63);
    --primary-foreground: oklch(0.41 0.0272 155.02);
    --secondary: oklch(0.61 0.0656 59.63);
    --secondary-foreground: oklch(0.25 0.0234 154.73);
    --muted: oklch(0.33 0.0234 154.73);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --accent: oklch(0.274 0.006 286.033);
    --accent-foreground: oklch(0.88 0.0197 90.56);
    --danger: oklch(0.58 0.2152 27.33);
    --danger-foreground: oklch(0.25 0.0234 154.73);
    --success: oklch(0.63 0.1699 149.21);
    --success-foreground: oklch(0.25 0.0234 154.73);
    --info: oklch(0.55 0.2152 262.88);
    --info-foreground: oklch(0.25 0.0234 154.73);
    --warning: oklch(0.86 0.1731 91.94);
    --warning-foreground: oklch(0.25 0.0234 154.73);
    --border: oklch(0.88 0.0197 90.56 / 10%);
    --input: oklch(0.88 0.0197 90.56 / 15%);
    --ring: oklch(0.552 0.016 285.938);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.41 0.0272 155.02);
    --sidebar-foreground: oklch(0.25 0.0234 154.73);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.25 0.0234 154.73);
    --sidebar-accent: oklch(0.274 0.006 286.033);
    --sidebar-accent-foreground: oklch(0.25 0.0234 154.73);
    --sidebar-border: oklch(0.88 0.0197 90.56 / 10%);
    --sidebar-ring: oklch(0.552 0.016 285.938);
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrainsMono);
}
